@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

body {
  font-family: 'Arvo', serif;
  max-height: 100vh;
  background: black;
  color: white;
}
.heading{
 padding-top: 35px;
 text-align: center;
 font-size: 2rem;
}
*{
 box-sizing: border-box;
 margin: 0%;
 padding: 0%;
}

.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow:#61F194;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 20px auto;
  padding: 15px 60px;
  border: none;
  border-radius: 5px;
  margin-left: 42.5%;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #141313;
  background-color: #61F194;
}

.button-24:active {
  opacity: .5;
}
.container{
 display: flex;
 flex-wrap: wrap;
}
.box {
  width: 32%; /* Set your desired width */
  height: 150px; /* Set your desired height */
  background-color: white;
  border: 2px solid black;
  border-radius: 8px; /* Optional: Add a border for better visibility */
  margin: 5px; /* Optional: Add margin to separate the boxes */
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.5rem; /* Arrange boxes in a row */
}